{% extends "base.html" %}
{% block title %}تأیید شماره موبایل{% endblock %}

{% block content %}
<h2 class="mb-4 text-center">تأیید شماره موبایل</h2>

<div class="card p-4">
    <form method="post">
        {% csrf_token %}
        <div class="row g-3 justify-content-center">
            <div class="col-md-6">
                <label for="phone">شماره موبایل</label>
                <input type="tel" class="form-control text-start" dir="ltr" name="phone" placeholder="09xxxxxxxxx">
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-primary">ارسال کد تایید</button>
        </div>
    </form>
</div>
{% endblock %}
