{% extends "base.html" %}
{% load static %}
{% block title %}فرم مرخصی{% endblock %}

{% block content %}
<h2 class="mb-4 text-center">{% if form.instance.pk %}ویرایش مرخصی{% else %}ثبت مرخصی جدید{% endif %}</h2>

<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-md-6">{{ form.staff.label_tag }}{{ form.USER }}</div>
                <div class="col-md-6">{{ form.start_date.label_tag }}{{ form.start_date }}</div>
                <div class="col-md-6">{{ form.end_date.label_tag }}{{ form.end_date }}</div>
                <div class="col-md-6">{{ form.leave_type.label_tag }}{{ form.leave_type }}</div>
                <div class="col-md-12">{{ form.reason.label_tag }}{{ form.reason }}</div>
                <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">ثبت</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
