<!-- Basic Bootstrap Table -->
{% extends "base.html" %}
{% load static %}
{% block title %}تست ورزش بیماران کلینیک آریتمی{% endblock %}

{% block content %}
<!--..............................-->
<h1 class="text-center">اکوی قلب</h1>
<!-- Vertical Wizard -->
<div class="col-12 mb-4">
  <div class="bs-stepper wizard-vertical wizard-numbered vertical mt-2">
    <div class="bs-stepper-header">
      <!-- بخش ۱: مشخصات شخصی -->
      <div class="step" data-target="#section-demographics">
        <button type="button" class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">مشخصات شخصی</span>
        </button>
      </div>

      <!-- بخش ۲: عملکرد بطن چپ -->
      <div class="line"></div>
      <div class="step" data-target="#personal-info-1">
        <button type="button" class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">عملکرد بطن چپ</span>
        </button>
      </div>
      <!-- بخش ۳: RV و فشار ریوی -->
      <div class="line"></div>
      <div class="step" data-target="#social-links-1">
        <button type="button" class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label"> RV و فشار ریوی</span>
        </button>
      </div>

      <!-- بخش ۴: دریچه‌ها -->
      <div class="line"></div>
      <div class="step" data-target="#Valves">
        <button type="button" class="step-trigger">
          <span class="bs-stepper-circle">4</span>
          <span class="bs-stepper-label">دریچه‌ها</span>
        </button>
      </div>

      <!-- بخش ۵: ساختار غیرطبیعی و مایعات -->
      <div class="line"></div>
      <div class="step" data-target="#Abnormal_structure">
        <button type="button" class="step-trigger">
          <span class="bs-stepper-circle">5</span>
          <span class="bs-stepper-label">ساختار غیرطبیعی و مایعات</span>
        </button>
      </div>
      <!-- بخش ۶: کیفیت تصویر -->
      <div class="line"></div>
      <div class="step" data-target="#Image_quality">
        <button type="button" class="step-trigger">
          <span class="bs-stepper-circle">6</span>
          <span class="bs-stepper-label">کیفیت تصویر</span>
        </button>
      </div>
      <!-- بخش ۷: نظر تکنسین -->
      <div class="line"></div>
      <div class="step" data-target="#Technician_opinion">
        <button type="button" class="step-trigger">
          <span class="bs-stepper-circle">7</span>
          <span class="bs-stepper-label"> نظر تکنسین</span>
        </button>
      </div>

      <!-- بخش ۸: گزارش نهایی پزشک -->
      <div class="line"></div>
      <div class="step" data-target="#Final_report">
        <button type="button" class="step-trigger">
          <span class="bs-stepper-circle">8</span>
          <span class="bs-stepper-label"> گزارش نهایی پزشک</span>
        </button>
      </div>

      <!-- بخش ۹: فایل‌ها -->
      <div class="line"></div>
      <div class="step" data-target="#files">
        <button type="button" class="step-trigger">
          <span class="bs-stepper-circle">9</span>
          <span class="bs-stepper-label">فایل‌ها</span>
        </button>
      </div>

    </div>
    <div class="bs-stepper-content">
      <form onsubmit="return false">
        <!-- Account Details -->
        <!-- بخش ۱:مشخصات شخصی-->
        <div id="section-demographics" class="content">
          <div class="content-header mb-3">
            <h6 class="mb-1">اطلاعات شخصی</h6>
            <small>اطلاعات شخصی را وارد کنید.</small>
          </div>
          <div class="row g-3">
            <div class="col-sm-6">
              <label class="form-label" for="username-vertical">نام و نام خانوادگی</label>
              <input type="text" id="username-vertical" name="fullname"
                     class="form-control text-start"
                     placeholder="نام و نام خانوادگی خود را وارد کنید" dir="ltr">
            </div>

            <div class="col-sm-6">
              <label class="form-label" for="date-of-birth">تاریخ تولد</label>
              <input type="date" id="date-of-birth" class="form-control text-start"
                     placeholder="1333/3/3"
                     dir="ltr">
            </div>


            <div class="col-sm-6 form-password-toggle">
              <label class="form-label" for="national_id">کد ملی</label>
              <div class="input-group input-group-merge">
                <input type="number" id="national_id" class="form-control text-start"
                       name="national_id"
                       placeholder="0012456789" dir="ltr">
              </div>
            </div>
            <div class="col-12 d-flex justify-content-between">
              <button class="btn btn-label-secondary btn-prev" disabled type="button">
                <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                <span class="d-sm-inline-block d-none">قبلی</span>
              </button>
              <button class="btn btn-primary btn-next" type="button">
                <span class="d-sm-inline-block d-none me-sm-1">بعدی</span>
                <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- بخش ۱:مشخصات شخصی-->

        <!-- بخش ۲: عملکرد بطن چپ -->
        <div id="personal-info-1" class="content">
          <div class="content-header mb-3">
            <h6 class="mb-1">عملکرد بطن چپ</h6>
<!--            <small>اطلاعات شخصی خود را وارد کنید.</small>-->
          </div>
          <div class="row g-3">
            <div class="col-sm-6"><label>EF (%)</label>
              <input type="number" class="form-control" name="ef">
            </div>
            <div class="col-sm-6"><label>نوع اختلال</label>
              <select class="form-select" name="lv_dysfunction">
                <option>ندارد</option><option>سیستولیک</option><option>دیاستولیک</option><option>ترکیبی</option>
              </select>
            </div>
            <div class="col-sm-6"><label>LVEDD (mm)</label>
              <input type="number" class="form-control" name="lvedd">
            </div>
            <div class="col-sm-6"><label>LVESD (mm)</label>
              <input type="number" class="form-control" name="lvesd">
            </div>
            <div class="col-sm-6"><label>GLS (در صورت انجام)</label>
              <input type="text" class="form-control" name="gls">
            </div>
            <div class="col-sm-6"><label>نوع تصویر</label>
              <select class="form-select" name="image_type">
                <option>انتخاب کنید</option>
                <option>۲D</option>
                <option>۳D</option>
                <option>کنتراست</option>
              </select>
            </div>
            <div class="col-12 d-flex justify-content-between">
              <button class="btn btn-primary btn-prev">
                <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                <span class="d-sm-inline-block d-none">قبلی</span>
              </button>
              <button class="btn btn-primary btn-next" type="button">
                <span class="d-sm-inline-block d-none me-sm-1">بعدی</span>
                <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- بخش ۲: عملکرد بطن چپ -->


        <!-- بخش ۳: RV و فشار ریوی -->
        <div id="social-links-1" class="content">
          <div class="content-header mb-3">
            <h6 class="mb-1"> RV و فشار ریوی</h6>
<!--            <small>لینک های اجتماعی خود را وارد کنید.</small>-->
          </div>
          <div class="row g-3">
            <div class="col-sm-6"><label>TAPSE (mm)</label>
              <input type="number" class="form-control" name="tapse">
            </div>
            <div class="col-sm-6"><label>SPAP (mmHg)</label>
              <input type="number" class="form-control" name="spap">
            </div>
            <div class="col-sm-6"><label>IVC سایز + کالپس</label>
              <input type="text" class="form-control" name="ivc_status" placeholder="مثلاً 2.1cm / 50%">
            </div>
        <div class="col-12 d-flex justify-content-between">
          <button class="btn btn-primary btn-prev">
            <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
            <span class="d-sm-inline-block d-none">قبلی</span>
          </button>
          <button class="btn btn-primary btn-next" type="button">
            <span class="d-sm-inline-block d-none me-sm-1">بعدی</span>
            <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
          </button>
        </div>
        </div>
        </div>
        <!-- بخش ۳: RV و فشار ریوی -->


        <!-- بخش ۴: دریچه‌ها -->
        <div id="Valves" class="content">
          <div class="content-header mb-3">
            <h6 class="mb-1">دریچه‌ها</h6>
            <!--            <small>اطلاعات شخصی خود را وارد کنید.</small>-->
          </div>
          <div class="row g-3">
            <div class="col-sm-6"><label>اختلال دریچه میترال</label>
              <select class="form-select" name="mitral_type">
                <option>انتخاب کنید</option>
                <option>ندارد</option>
                <option>Regurgitation</option>
                <option>Stenosis</option>
              </select>
            </div>
            <div class="col-sm-6"><label>شدت میترال</label>
              <select class="form-select" name="mitral_severity">
                <option>انتخاب کنید</option>
                <option>None</option>
                <option>Mild</option>
                <option>Moderate</option>
                <option>Severe</option>
              </select>
            </div>
            <div class="col-sm-6"><label>ویژگی خاص میترال</label>
              <select class="form-select" name="mitral_features">
                <option>انتخاب کنید</option>
                <option>ندارد</option>
                <option>Thickened</option>
                <option>Prolapse</option>
                <option>Flail</option>
                <option>Calcified</option>
              </select>
            </div>

            <!-- Aortic Valve -->
            <div class="col-sm-6"><label>اختلال دریچه آئورت</label>
              <select class="form-select" name="aortic_type">
                <option>انتخاب کنید</option>
                <option>ندارد</option>
                <option>Regurgitation</option>
                <option>Stenosis</option>
              </select>
            </div>
            <div class="col-sm-6"><label>شدت آئورت</label>
              <select class="form-select" name="aortic_severity">
                col-sm-6
                <option>None</option>
                <option>Mild</option>
                <option>Moderate</option>
                <option>Severe</option>
              </select>
            </div>
            <div class="col-sm-6"><label>ویژگی خاص آئورت</label>
              <select class="form-select" name="aortic_features">
                <option>انتخاب کنید</option>
                <option>ندارد</option>
                <option>Thickened</option>
                <option>Bicuspid</option>
                <option>Calcified</option>
              </select>
            </div>

            <!-- Tricuspid -->
            <div class="col-sm-6"><label>اختلال دریچه تری‌کاسپید</label>
              <select class="form-select" name="tricuspid_type">
                <option>انتخاب کنید</option>
                <option>ندارد</option>
                <option>Regurgitation</option>
              </select>
            </div>
            <div class="col-sm-6"><label>شدت تری‌کاسپید</label>
              <select class="form-select" name="tricuspid_severity">
                <option>انتخاب کنید</option>
                <option>انتخاب کنید</option>
                <option>None</option>
                <option>Mild</option>
                <option>Moderate</option>
                <option>Severe</option>
              </select>
            </div>

            <!-- Pulmonic -->
            <div class="col-sm-6"><label>اختلال دریچه پولمونری</label>
              <select class="form-select" name="pulmonary_type">
                <option>انتخاب کنید</option>
                <option>ندارد</option>
                <option>Regurgitation</option>
                <option>Stenosis</option>
              </select>
            </div>
            <div class="col-sm-6"><label>شدت پولمونری</label>
              <select class="form-select" name="pulmonary_severity">
                <option>انتخاب کنید</option>
                <option>None</option>
                <option>Mild</option>
                <option>Moderate</option>
                <option>Severe</option>
              </select>
            </div>
            <div class="col-12 d-flex justify-content-between">
              <button class="btn btn-primary btn-prev">
                <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                <span class="d-sm-inline-block d-none">قبلی</span>
              </button>
              <button class="btn btn-primary btn-next" type="button">
                <span class="d-sm-inline-block d-none me-sm-1">بعدی</span>
                <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- بخش ۴: دریچه‌ها -->


        <!-- بخش ۵: ساختار غیرطبیعی و مایعات -->
        <div id="Abnormal_structure" class="content">
          <div class="content-header mb-3">
            <h6 class="mb-1">ساختار غیرطبیعی و مایعات</h6>
            <!--            <small>اطلاعات شخصی خود را وارد کنید.</small>-->
          </div>
          <div class="row g-3">
            <div class="col-sm-6"><label>مایع پریکارد</label>
              <select class="form-select" name="pericardial_effusion">
                <option>انتخاب کنید</option>
                <option>ندارد</option>
                <option>کم</option><option>متوسط</option>
                <option>زیاد</option>
              </select>
            </div>
            <div class="col-sm-6"><label>مایع پلور</label>
              <select class="form-select" name="pleural_effusion">
                <option>انتخاب کنید</option>
                <option>ندارد</option>
                <option>چپ</option><option>راست</option>
                <option>دوطرفه</option>
              </select>
            </div>
            <div class="col-sm-6"><label>توده / لخته / Vegetation دیده شد؟</label>
              <select class="form-select" name="mass_or_clot">
                <option>انتخاب کنید</option>
                <option>ندارد</option>
                <option>لخته</option>
                <option>توده</option>
                <option>Vegetation</option>
              </select>
            </div>
            <div class="col-sm-6"><label>دیواره غیرطبیعی یا آنوریسم</label>
              <select class="form-select" name="aneurysm">
                <option>انتخاب کنید</option>
                <option>ندارد</option>
                <option>مشاهده شد</option>
              </select>
            </div>
            <div class="col-12 d-flex justify-content-between">
              <button class="btn btn-primary btn-prev">
                <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                <span class="d-sm-inline-block d-none">قبلی</span>
              </button>
              <button class="btn btn-primary btn-next" type="button">
                <span class="d-sm-inline-block d-none me-sm-1">بعدی</span>
                <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- بخش ۵: ساختار غیرطبیعی و مایعات -->

        <!-- بخش ۶: کیفیت تصویر -->
        <div id="Image_quality" class="content">
          <div class="content-header mb-3">
            <h6 class="mb-1">کیفیت تصویر</h6>
            <!--            <small>اطلاعات شخصی خود را وارد کنید.</small>-->
          </div>
          <div class="row g-3">
            <div class="col-sm-6"><label>کیفیت تصویر</label>
              <select class="form-select" name="image_quality">
                <option>انتخاب کنید</option>
                <option>خوب</option>
                <option>متوسط</option>
                <option>ضعیف</option>
              </select>
            </div>
            <div class="col-sm-6"><label>علت ضعف (در صورت وجود)</label>
              <select class="form-select" name="image_limitation_reason">
                <option>انتخاب کنید</option>
                <option>چاقی</option>
                <option>COPD</option>
                <option>حرکت زیاد بیمار</option>
                <option>پوزیشن نامناسب</option>
              </select>
            </div>
            <div class="col-sm-6"><label>نوع پروب / تکنیک</label>
              <select class="form-select" name="probe_type">
                <option>انتخاب کنید</option>
                <option>Transthoracic 2D</option>
                <option>3D</option>
                <option>Harmonic</option>
                <option>با کنتراست</option>
              </select>
            </div>
            <div class="col-sm-6"><label>ECG Sync</label>
              <select class="form-select" name="ecg_sync">
                <option>انتخاب کنید</option>
                <option>بله</option>
                <option>خیر</option>
              </select>
            </div>
            <div class="col-12 d-flex justify-content-between">
              <button class="btn btn-primary btn-prev">
                <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                <span class="d-sm-inline-block d-none">قبلی</span>
              </button>
              <button class="btn btn-primary btn-next" type="button">
                <span class="d-sm-inline-block d-none me-sm-1">بعدی</span>
                <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- بخش ۶: کیفیت تصویر -->

        <!-- بخش ۷: نظر تکنسین -->
        <div id="Technician_opinion" class="content">
          <div class="content-header mb-3">
            <h6 class="mb-1">نظر تکنسین</h6>
            <!--            <small>اطلاعات شخصی خود را وارد کنید.</small>-->
          </div>
          <div class="row g-3">
            <div class="col-sm-6">
            <label>آیا بیمار همکاری داشت؟</label>
            <select class="form-select" name="patient_cooperation">
              <option>انتخاب کنید</option>
              <option>بله</option>
              <option>خیر</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label>تمام نماها گرفته شد؟</label>
            <select class="form-select" name="all_views_taken">
              <option>انتخاب کنید</option>
              <option>بله</option>
              <option>خیر</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label>نام تکنسین</label>
            <input type="text" class="form-control" name="technician_name">
          </div>
          <div class="col-sm-12">
            <label>توضیح فنی تکنسین</label>
            <textarea class="form-control" name="technician_note" rows="2"></textarea>
          </div>
            <div class="col-12 d-flex justify-content-between">
              <button class="btn btn-primary btn-prev">
                <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                <span class="d-sm-inline-block d-none">قبلی</span>
              </button>
              <button class="btn btn-primary btn-next" type="button">
                <span class="d-sm-inline-block d-none me-sm-1">بعدی</span>
                <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- بخش ۷: نظر تکنسین -->

        <!-- بخش ۸: گزارش نهایی پزشک -->
        <div id="Final_report" class="content">
          <div class="content-header mb-3">
            <h6 class="mb-1">گزارش نهایی پزشک</h6>
            <!--            <small>اطلاعات شخصی خود را وارد کنید.</small>-->
          </div>
          <div class="row g-3">
            <div class="col-sm-6">
              <label>آیا نیاز به اکو تخصصی هست؟</label>
              <select class="form-select" name="need_advanced_echo">
                <option>انتخاب کنید</option>
                <option>خیر</option>
                <option>TEE</option>
                <option>Stress Echo</option>
                <option>MRI</option>
              </select>
            </div>
            <div class="col-sm-6">
              <label>علت توصیه اکو تخصصی</label>
              <input type="text" class="form-control" name="reason_advanced_echo">
            </div>
            <div class="col-sm-6">
              <label>نام پزشک گزارش‌دهنده</label>
              <input type="text" class="form-control" name="reporting_physician">
            </div>
            <div class="col-sm-6">
              <label>تاریخ گزارش</label>
              <input type="date" class="form-control" name="report_date">
            </div>
            <div class="col-md-12">
              <label>تفسیر نهایی</label>
              <textarea class="form-control" name="final_report" rows="3"></textarea>
            </div>
            <div class="col-12 d-flex justify-content-between">
              <button class="btn btn-primary btn-prev">
                <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                <span class="d-sm-inline-block d-none">قبلی</span>
              </button>
              <button class="btn btn-primary btn-next" type="button">
                <span class="d-sm-inline-block d-none me-sm-1">بعدی</span>
                <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- بخش ۸: گزارش نهایی پزشک -->


        <!-- بخش ۹: فایل‌ها -->
        <div id="files" class="content">
          <div class="content-header mb-3">
            <h6 class="mb-1">فایل‌ها</h6>
            <!--            <small>اطلاعات شخصی خود را وارد کنید.</small>-->
          </div>
          <div class="row g-3">
            <div class="row g-3">
              <div class="col-sm-6">
                <label>آپلود فایل DICOM / ویدیو / عکس</label>
                <input type="file" class="form-control" name="upload_file" accept=".jpg,.png,.mp4,.dcm">
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="consent" id="consent" required>
                <label class="form-check-label" for="consent">
                  تأیید می‌کنم که اطلاعات وارد شده صحیح است .
                </label>
              </div>
              <div class="form-section col-12">
                <h5>۵. تحلیل هوشمند مغز TEE</h5>
                <label>نتیجه تحلیل سیستم هوشمند:</label>
                <textarea id="brain_output" class="form-control" rows="6" readonly
                          style="background:#f0f0f0; color:#333;"></textarea>
              </div>
              <div class="col-12 d-flex justify-content-between" type="button">
                <button class="btn btn-primary btn-prev">
                  <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                  <span class="d-sm-inline-block d-none">قبلی</span>
                </button>
                <button class="btn btn-success btn-submit" type="submit">ثبت و ذخیره فرم اکو</button>
              </div>
          </div>
        </div>
        </div>
        <!-- بخش ۹: فایل‌ها -->
      </form>
    </div>



  </div>
</div>
<!-- /Vertical Wizard -->

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/tte_echo_form_full.js' %}"></script>
{% endblock %}

